<table class="table">
    {{#each data}}
            <tr>
                <td>{{id}}</td>
                <td>{{orderDate}}</td>
                <td>{{publishingDate}}</td>
                <td>{{copies}}</td>
                <td>{{productId}}</td>
                <td>{{redactorId}}</td>
                <td>{{clientId}}</td>
            </tr> 
    {{/each}}
</table>